* {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
} a {
    text-decoration: none;
} li{
    list-style: none;
} .wraper {
    width: 100%;
    overflow: hidden;
} .background {
   background-color: #ebc7c6;
   padding: 25px;
} .navbar_container , .container {
    width: 1200px;
    margin: auto;
} .nav_title ,
  .nav_list , 
  .nav_ul ,
  .navbar_reg ,
  .nav_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .nav_user {
    width: 18px;
    height: 18px;
/* } button {
    border: none; */
} .nav_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    gap: 10px;

    width: 207px;
    height: 52px;

    /* btn-gradient */
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
} .nav_ul {
    gap: 50px;
} .nav_list {
    color: #424551;
} .nav_list:hover {
    color: #FF3F3A;
    transition: 0,3s ease-in-out;
}

.nav_btn:hover{
    color: #F75E05;
    background: inherit;
    border: 1px solid #F75E05;
}
.reg {
    width: 115px;
    height: 26px;

    /* base/bold */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 160%;
    /* identical to box height, or 26px */
    display: flex;
    align-items: center;

    /* gray/800 */
    color: #424551;
    gap: 6px;
} .nav_icon {
    margin-left: 20px;
} .nav-curses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 1020px;
    height: 280px;
    margin-bottom: 20px;
} .nav-curses-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FF3F3A;
} .nav-curses-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* or 60px */
    display: flex;
    align-items: center;
    text-align: center;

    /* gray/900 */
    color: #1E212C;
}
.check-icon {
    width: 16px;
    height: 16px;
} .ab-cont {
    width: 1230px;
    margin: auto;
    display: flex;
        align-items: center;
        justify-content: space-between;
    margin-top: 90px;
} .left-info {
    width: 600px;
    /* display: flex;
    flex-wrap: wrap; */
    gap: 7px;
} .right-info {
    width: 500px;
    display: flex;
    align-items: start;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 7px;
    box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.2);
}

.dur{
    margin-top: 20px;
}

  .left-bottom {
    margin-top: 130px;
    width: 900px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
} .left-top-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
} .left-top-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    /* gray/800 */
    color: #424551;

    margin-top: 10px;
} .left-bottom-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */

    /* gray/900 */
    color: #1E212C;

    margin-top: 8px;
} .left-bottom-ul {
    margin-top: 6px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
} .left-bottom-list {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* gray/800 */
    color: #424551;
} .dates , 
  .duration , 
  .price {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;
    gap: 6px;
    
} .color {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    /* primary */
    color: #FF3F3A;
} .data-span , 
  .dur , 
  .price-span {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    letter-spacing: 1px;
    text-transform: uppercase;

    /* gray/900 */
    color: #1E212C;
} .data-text ,
  .price-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    /* gray/700 */
    color: #787A80;
} 
.duration-text{
    /* Free */

width: 49px;
height: 31px;

/* h4 */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
/* or 31px */

/* primary */
color: #FF3F3A;



}
.about-btn {
    /* btn/solid/regular */

    /* Auto layout */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    gap: 10px;
    width: 431px;
    height: 44px;

    /* btn-gradient */
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: white;
    border-radius: 4px;
    border: none;
    margin: auto;
    margin: 16px;
}
.about-btn:hover{
    color: #F75E05;
    background: inherit;
    border: 1px solid #F75E05;
}
.info-title{
    /* We will talk about: */


width: 600px;
height: 60px;


/* h1 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* identical to box height, or 60px */

/* gray/900 */
color: #1E212C;


}
.minus-info{
    width: 40px;
    height: 44px;
    color: #F75E05;
}
.info_minus_span{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #FF3F3A;
}
.p_info_text{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;

color: #1E212C;
}
.lesson-info{
   
    width: 630px;
    display: flex;
    
    gap: 10px;
}
.text_info{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #424551;


}
.plus-info{
    width: 30px;
    height: 33px;
    color: #F75E05;
}
.lesson_themes{
    gap: 16px;
    display: flex;

    flex-direction: column;
}
.backround_speaker{
width: 495px;
height: 600px;


/* secondary */
background: #FFCF2D;
border-radius: 4px;

}
.title{
    /* Speaker */

width: 76px;
height: 24px;

/* h6

subheading
*/
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
letter-spacing: 1px;
text-transform: uppercase;

/* gray/900 */
color: #1E212C;


}
.name_speaker{
    /* Kathryn Murphy */

width: 350px;
height: 60px;

/* h1 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
}
.info_speaker{
width: 508px;
height: 30px;

/* lead/regular */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #787A80;


}
.text_speaker{
width: 600px;
height: 156px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
}
.right_side{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 25px;
    width: 900px;
    margin-left: 100px;
}
.speaker_cont{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    margin-top: 250px;
}
.medias_speaker_side{
    display: flex;
    gap: 20px;
}
.media{
    width: 32px;
    height: 30px;
}
.media:hover{
    color: #F75E05;
}
.title-1{
    /* For whom? */

width: 207px;
height: 24px;

/* h6

subheading
*/
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
letter-spacing: 1px;
text-transform: uppercase;

}
.text{
    /* Who will benefit from the event: */

width: 492px;
height: 120px;

/* h1 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
/* or 60px */

/* gray/900 */
color: #1E212C;


}
.info{
    width: 1290px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
  
    gap: 40px;
    margin-top: 100px;
}
.right_diver{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* checker */

.check-icon {
    width: 16px;
    height: 16px;
} .ab-cont {
    width: 1230px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
} .left-info {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
} .right-info {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.2);
} .left-top ,
  .left-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
} .left-top-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
} .left-top-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    /* gray/800 */
    color: #424551;

    margin-top: 10px;
} .left-bottom-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    /* identical to box height, or 42px */

    /* gray/900 */
    color: #1E212C;

    margin-top: 8px;
} .left-bottom-ul {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
} .left-bottom-list {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* gray/800 */
    color: #424551;
} 

.computer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1270px;
    margin: auto;
    margin-top: 200px;
    height: 300px;
    background-color: #ebc7c6;
    
    
}
.img_computer{
    margin-top: 50px;
}
.title_computer{

width: 600px;
height: 84px;

/* h2 */
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 130%;
/* or 42px */
display: flex;
align-items: center;

/* gray/900 */
color: #1E212C;


}
.input_btn_computer{
    /* btn/solid/large */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 40px;
gap: 10px;


width: 154px;
height: 52px;

border: solid 1px #F75E05;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 52px;
/* identical to box height, or 325% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;

/* white */
color: #FFFFFF;
border-radius: 5px;
background-color: #F75E05;
}
.input_computer{
    display: flex;
    gap: 10px;
}
.check{
    width: 32px;
    height: 20px;
}
.right_computer_registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.input_btn_computer:hover{
    color: #F75E05;
    background: inherit;
    border: solid 1px #F75E05;
}
.input_1{
    width: 450px;
    text-align: center;
}
.text_svg{
    /* I agree to receive communications from Createx Online School */

width: 434px;
height: 26px;

/* base/regular

main body text
*/
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

/* gray/800 */
color: #424551;


}
.team-left , 
  .team-right {
    width: 22px;
    height: 22px;
    padding: 15px;
    border-radius: 50%;
    border: transparent;
    gap: 15px;
} .team-left:hover , 
  .team-right:hover {
    background-color: #FF3F3A;
    color: white;
} .teams-box {
    padding: 90px 0;
    width: 1200px;
    margin: auto;
} .teams {
    background-image: url(/img/Background.png);
    width: 100%;
    margin-top: 100px;
} .top-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* identical to box height, or 60px */
    text-align: center;

    /* gray/900 */
    color: #1E212C;
} .right-cont-reg {
    display: flex;
    margin: auto;
} .reg-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
} .left-img {
    width: 550px;
    height: 500px;
} .reg-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* gray/900 */
    color: #1E212C;
} .reg-title-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* identical to box height, or 60px */
    text-align: center;
    /* gray/900 */
    color: #1E212C;
} .reg-text {
    display: flex;
    align-items: start;
    flex-direction: column;
} .reg-container {
    margin: auto;
    display: flex;
    gap: 100px;
    flex-direction: row-reverse;
} .input-full1 {
    background: #FFFFFF;
    /* gray/400 */
    border: 1px solid #D7DADD;
    border-radius: 4px;
    width: 500px;
    height: 52px;
} .reg-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0px 32px;
    gap: 10px;
    width: 500px;
    height: 50px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    border: none;
    margin-top: 30px;
} .input-full {
    border: none;
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10 0 0;
} .full-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
.events{
width: 1230px;
margin: auto;
margin-top: 70px;
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 20px;
}

.events_list{
width: 390px;
height: 323px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
border: 1px solid #ffffff;
}

.events_list:hover{
background: #FFFFFF;
border: 1px solid #E5E8ED;
box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
border-radius: 4px;
}

.list_wraper{
width: 342px;
height: 180px;
align-content: space-between;
}

.list1{
width: 98pxpx;
height: 72px;
align-content: space-between;
}

.list1_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;

color: #FF3F3A;

}

.list1_text2{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: #787A80;

}

.list2{
width: 342px;
height: 88px;
align-content: space-between;
}

.list2_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;

color: #1E212C;

}

.list2_text2{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: #787A80;

}

.list_btn{

width: 342px;
height: 44px;

border-radius: 4px;
border: 1px solid #D7DADD;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 44px;
text-align: center;

color: #FFFFFF;

background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
background: #FFFFFF;
color: #F75E05;
border: 1px solid #F75E05;
}

.list_btn:hover{
color: #FFFFFF;
border: 1px solid #D7DADD;
background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
} .top-left- {
    display: flex;
    flex-direction: column;
} .top-cheak-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .top-left-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 1px;
    text-transform: uppercase;

    /* gray/900 */
    color: #1E212C;
} .top-left-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* identical to box height, or 60px */

    /* gray/900 */
    color: #1E212C;
} .cheak-other {
    margin-top: 100px;
} .top-left-icon , 
  .top-righ-icon {
    width: 24px;
    height: 24px;
} .top-right {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
} .top-left- {
    display: flex;
    flex-direction: column;
} .top-cheak-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
} .top-left-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 1px;
    text-transform: uppercase;

    /* gray/900 */
    color: #1E212C;
} .top-left-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    /* identical to box height, or 60px */

    /* gray/900 */
    color: #1E212C;
} .cheak-other {
    margin-top: 100px;
} .top-left-icon , 
  .top-righ-icon {
    width: 24px;
    height: 24px;
} .top-right {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
} .Footer_wraper{
    width: 100%;
    height: 344px;
    border: 1px solid rgba(30, 33, 44, 1);
    background-color: rgba(30, 33, 44, 1);
    margin-top: 120px;
}

.Footer{
    width: 1200px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.CreatX{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.CreatX_text{

width: 279px;
height: 90px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;

color: #FFFFFF;

opacity: 0.6;
}

.SITE_MAP{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.SITE_MAP_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

}

.SITE_MAP_text2 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text3 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text4 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text5 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.SITE_MAP_text6 {

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.courses_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

}

.courses_text2{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text3{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text4{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text5{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.courses_text6{

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;

}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.contacts_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

} .contacts_num{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;
} .contacts_mail{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: gray;
} .sign_up{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
} .sign_up_text1{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

color: #FFFFFF;

} .sign_up_input{
width: 286px;
height: 36px;

background-color: rgb(73, 73, 73);
border-radius: 3px;
border: none;


font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: rgb(126, 126, 126);
} .sign_up_input:focus{
    outline: none;
} .sign_up_text2{

width: 286px;
height: 30px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;

color: #FFFFFF;

} .end_footer{
    width: 100%;
    height: 50px;
    border: 1px solid #2e313b;
    background-color: #2e313b;
    margin-top: -20px;
} .end{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} .end_text1{
color: #E5E8ED;
} .end_text2{
color: #797a7a;
}
